{% extends 'base.html.twig' %}


{% block body %}
    <div class="banner s-g swiper-container">
        <div class="swiper-wrapper">

            {% for item in qi.galeria('banner-social') %}
            <div class="swiper-slide">
                {% if (item.image is empty) %}
                    {% if (item.link is empty) %}
                    {% else %}
                        <iframe src="{{ item.link }}" width="1024" height="576" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    {% endif %}

                {% else %}
                    <img class="d-block w-100" src="{{ product_images~item.image }}" alt="First slide">
                {% endif %}
            </div>
            {% endfor %}


        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
    <div class="p-4 bg-green">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><span>{{ qi.texto('breadcrumbs_the_wharton') }}</span></a></li>
            <li><a href="{{ path('social') }}"><i class="fas fa-chevron-right"></i><span>{{ qi.texto('breadcrumbs_social') }}</span></a></li>
        </ul>
    </div>

    <div class="container">
        {% for s in qi.galeria('gal-social') %}
            {% if loop.index % 2  == 1 %}
        <div class="row">
            <div class="col-lg-6 my-2">
                <img class="w-100" src="{{ product_images~s.image }}"/>
            </div>
            <div class="col-lg-6 my-2">
                <div class="title-line py-3">
                    <h2>{{ s.titulo }}</h2>
                    <hr>
                </div>
                <div class="text-justify">
                    {{ s.descripcion }}
                </div>
                <a class="btn" href="{{ s.link }}">{{ qi.texto('botton_help') }}</a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-6 my-2">
                <div class="title-line py-lg-3">
                    <h2>{{ s.titulo }}</h2>
                    <hr>
                </div>
                <div class="text-justify">
                    {{ s.descripcion }}
                </div>
                <a class="btn" href="{{ s.link }}">{{ qi.texto('botton_help') }}</a>
            </div>
            <div class="col-lg-6 my-2">
                <img class="w-100" src="{{ product_images~s.image }}"/>
            </div>
        </div>
        {% endif %}
        {% endfor %}


    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

