{% extends 'base.html.twig' %}

{% block body %}
    {#<div class="mini-nav">
        {% for item in qi.categorias() %}
            <a href="{{ path('tecnologia',{'id':item.id}) }}" class="button_clear {{ item.id == categoria.id? 'active':'' }}">
                {{ item.nombre }}
            </a>
        {% endfor %}
    </div>#}

    <div class="banner s-g swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <iframe src="https://player.vimeo.com/video/288344114" width="1024" height="576" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <div class="swiper-slide">
                <iframe src="https://player.vimeo.com/video/288344114" width="1024" height="576" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <div class="swiper-slide">
                <img class="d-block w-100" src="{{ asset('images/Sin-título-2.jpg') }}" alt="First slide">
            </div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
    <div class="p-4 bg-green">
        <ul class="breadcrumbs">
            <li><a href="#"><span>The Wharton Basin</span></a></li>
            <li><a href="#"><i class="fas fa-chevron-right"></i><span>Shop</span></a></li>
        </ul>
    </div>

    <div class="container py-5">
        <div class="title-d">
            <div class="px-3">
                <h2>SHOP Journeys</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form class="filter-shop">
                <div class="form-group">
                    <label for="exampleFormControlSelect1" class="p-2">FILTRO CATEGORÍAS</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>All Journey</option>
                        <option>Urbe</option>
                        <option>Pebo</option>
                        <option>Line</option>
                        <option>Lorem Ipsum</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="category-shop col-6 col-md-3 offset-lg-1 p-3">
                <h3 class="font-weight-bold">ALL JOURNEYS</h3>
                <a href="#">
                    <img class="w-100" src="{{ asset('images/Sin-título-6.jpg') }}"/>
                    <span><i class="icon-search"></i></span>
                </a>
            </div>
            <div class="category-shop col-6 col-md-3 offset-lg-1 p-3">
                <h3 class="font-weight-bold">URBE</h3>
                <a href="#">
                    <img class="w-100" src="{{ asset('images/Sin-título-7.jpg') }}"/>
                    <span><i class="icon-search"></i></span>
                </a>
            </div>
            <div class="category-shop col-6 col-md-3 offset-lg-1 p-3">
                <h3 class="font-weight-bold">PEBO</h3>
                <a href="#">
                    <img class="w-100" src="{{ asset('images/Sin-título-8.jpg') }}"/>
                    <span><i class="icon-search"></i></span>
                </a>
            </div>
            <div class="category-shop col-6 col-md-3 offset-lg-1 p-3">
                <h3 class="font-weight-bold">LINES</h3>
                <a href="#">
                    <img class="w-100" src="{{ asset('images/Sin-título-9.jpg') }}"/>
                    <span><i class="icon-search"></i></span>
                </a>
            </div>
            <div class="category-shop col-6 col-md-3 offset-lg-1 p-3">
                <h3 class="font-weight-bold">LOREM IPSUM</h3>
                <a href="#">
                    <img class="w-100" src="{{ asset('images/Sin-título-10.jpg') }}"/>
                    <span><i class="icon-search"></i></span>
                </a>
            </div>
            <div class="category-shop col-6 col-md-3 offset-lg-1 p-3">
                <h3 class="font-weight-bold">LOREM IPSUM</h3>
                <a href="#">
                    <img class="w-100" src="{{ asset('images/Sin-título-11.jpg') }}"/>
                    <span><i class="icon-search"></i></span>
                </a>
            </div>
        </div>
    </div>




{% endblock %}

