{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner inspirate" style="background-image: url('{{ asset('/images/inspirate-lista.png') }}')">
        <div class="textos">
            <h1>PRODUCTOS</h1>
        </div>
    </div>
    <main class="tecnologia container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis eaque earum eligendi impedit ipsa libero natus nesciunt nisi nobis odio perferendis, perspiciatis porro quos saepe sint ut vitae voluptate.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis eaque earum eligendi impedit ipsa libero natus nesciunt nisi nobis odio perferendis, perspiciatis porro quos saepe sint ut vitae voluptate.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis eaque earum eligendi impedit ipsa libero natus nesciunt nisi nobis odio perferendis, perspiciatis porro quos saepe sint ut vitae voluptate.
        </p>
        <div class="grid-tecnologia">
            {% for i in 1..8 %}
                <a href="" class="categoria" style="background-image: url('{{ asset('/images/categoria-tec.png') }}')">
                    <h3>Categoría {{ i }}</h3>
                </a>
            {% endfor %}
        </div>
    </main>

{% endblock %}

