{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-4">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><span>{{ qi.texto('breadcrumbs_the_wharton') }}</span></a></li>
            <li><a href="{{ path('productos') }}"><i class="fas fa-chevron-right"></i><span>{{ qi.texto('menu_shop') }}</span></a></li>
            <li><a href=""><i class="fas fa-chevron-right"></i><span>{{ qi.texto('breadcrumbs_all_journeys') }}</span></a></li>
            <li><a href="{{ path('producto', {'id':producto.id}) }}"><i class="fas fa-chevron-right"></i><span>{{ producto.nombre }}</span></a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row journey">
            <div class="col-12 col-md-6  col-lg-9">
                <div class="swiper-container gallery-top">

                    <div class="swiper-wrapper">

                        {% for item in producto.imagenes %}
                            {% if item.image is empty %}
                                {% if item.link is empty %}
                                    {% else %}
                                        <div class="swiper-slide">  <iframe src="{{ item.link}}" width="1024" height="576" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                                {% endif %}
                                {% else %}
                                    <div class="swiper-slide"><img class="w-100" src="{{ product_images~item.image }}"/></div>
                            {% endif %}

                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="swiper-container gallery-thumbs py-lg-4">
                    <div class="swiper-wrapper">

                        {% for item in producto.imagenes %}
                            {% if item.image is empty %}
                            {% else %}
                        <div class="swiper-slide rounded d-flex justify-content-center"><img src="{{ product_images~item.image }}"/></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3 mt-md-0">
                <h6>#{{ producto.id }}</h6>
                <h3>{{ producto.nombre }}</h3>
                <h4>
                    {% if producto.descuento|length>0 %}
                    <span>${{ producto.descuento|number_format(2, '.', ',') }}</span> /
                    {% endif %}
                     ${{ producto.precio|number_format(2, '.', ',') }}

                </h4>
                <a class="call-popUp" data-info="gal">
                    <img style="display: none" src="{{ product_images~qi.galeria('size_chart')[0].image }}"/>
                    <h5>{{ qi.texto('title_size_chart') }}</h5>
                </a>
                <form action="javascript:comprar()" id="form" data-url="{{ path('add-to-carrito') }}" data-carrito="{{ path('carrito') }}">
                    <input id="product_id" name="producto_id" value="" type="hidden" />
                    <input id="wish" name="wish" value="" type="hidden" />
                    {% if generos|length > 0 %}
                    <div class="form-group">
                        <select class="w-100 genero_s" onchange="cambioGenero(this)">
                            <option value="">{{ qi.texto('form_gender') }}</option>
                            {% for v,o in generos %}
                                <option class="{{ o|replace({'.':" "}) }}" value="{{ o|replace({'.':" ."}) }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% if colores|length > 0 %}
                    <div class="form-group">

                        <select class="w-100 filtros_s color_s" onchange="cambioColor(this)" >
                            <option value="">{{ qi.texto('form_color') }}</option>
                            {% for v,o in colores %}
                                <option class="{{ o|replace({'.':" "}) }}" value="{{ o|replace({'.':" ."}) }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% if tallas|length > 0 %}
                    <div class="form-group d-flex">
                        <select class="w-100 filtros_s talla_s" onchange="cambioTalla(this)">
                            <option value="">{{ qi.texto('form_size') }}</option>
                            {% for v,o in tallas %}
                                <option class="{{ o|replace({'.':" "}) }}" value="{{ o|replace({'.':" ."}) }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {#<div class="form-group d-flex">
                        <label class="w-100 list-art">
                            <input type="checkbox"/>
                            {{ qi.texto('form_i_have_it') }}
                        </label>
                        <a class="alert-info" data-info="{{ qi.texto('alerta_info_journey_completo') }}"><i class="icon-i"></i></a>
                    </div>#}

                    <div class="form-group text-center">
                        <button type="submit" class="btn">{{ qi.texto('form_add_to_car') }}</button>
                    </div>
                </form>

                <div class="text-center">
                    <a href="javascript:wishlist()" class="btn">{{ qi.texto('form_add_to_wishlist') }}</a><br>
                    <a href="{{ path('politica-retorno') }}" target="_blank">{{ qi.texto('return_policy') }}</a><br>
                    <a href="{{ path('terminos') }}" target="_blank">{{ qi.texto('terms_and_conditions') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-5">
                {% if producto.detalle|length > 0 %}
                <hr>
                {{ producto.detalle|raw }}
                {% endif %}

            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-lg-5">
                <h2>{{ qi.texto('featured_products') }}</h2>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                {% for item in qi.productos(true) %}
                <div class="item-outstanding d-inline-block p-2">
                    <div class="h-i pb-2">
                        <a href="{{ path('producto',{'id':item.id}) }}"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="wp py-2">
                        <a href="{{ path('producto',{'id':item.id}) }}">
                            <img class="w-50" src="{{ product_images~item.image }}"/>
                        </a>
                        <h3 class="mt-3">{{ item.nombre }}</h3>
                        <p>
                            {% if item.descuento|length>0 %}
                            <span>${{ item.precio|number_format(2, '.', ',') }}</span> /
                            {% else %}
                                ${{ item.precio|number_format(2, '.', ',') }}
                            {% endif %}

                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h3 id="alert" class="call-popUp" data-info="alert" data-cont="{{ qi.texto('selecionar_talla') }}" data-title="!" data-opcion="1"></h3>
{% endblock %}

{% block javascripts %}
<script>

    function comprar(){
        var genero = $("#genero_s").val();
        var color = $("#color_s").val();
        var talla = $("#talla_s").val();
        var cantidad=1;
        var variante=$('#product_id').val();
        var wish=$('#wish').val();
        console.log("antes de enviar",variante);
        if(variante == "" || (genero == "" && color == "" && talla == "") ){
            console.log("incompletos")
            $("#alert").click();
            return 0;
        }
        $.ajax({
            method: "POST",
            url: $("#form").data('url'),
            contentType: "application/json",
            accept: "application/json",
            dataType: "json",
            data: JSON.stringify({ cantidad: cantidad, variante: variante,wish:wish,journey:"" })
        })
            .done(function( msg ) {
                console.log(msg);
                if(msg.ok){
                    window.location.href=$("#form").data("carrito");
                }else{
                    alert(msg.mensaje);
                }
            });

    }

    function wishlist(){
        $("#wish").val(1);
        comprar();
    }

    function cambioGenero(elem) {
        var val = $(elem).val();
        console.log(val);
        $(".filtros_s option").hide();
        $(".filtros_s "+val).show();
        $(".color_s").val("");
        $(".talla_s").val("");
        if(val == ""){
            $(elem).show();
            $(".filtros_s option").show();
            $(".filtros_s").show();
        }

    }

    function cambioColor(elem) {
        var val = $(elem).val();
        console.log(val);
        $(".talla_s option").hide();
        $(".talla_s "+val).show();
        $(".talla_s").val("");
        if(val == ""){
            $(elem).show();
            $(".talla_s option").show();
            $(".talla_s").show();
        }

    }

    function cambioTalla(elem) {
        var talla =[];
        var color =[];
        var genero=[];
        var def = [];
        if($(elem).length > 0 ){
            talla = $(elem).val().replace(/ /g,"").split('.');
            def= talla;
        }
        if($(".color_s").length > 0 ) {
            color = $(".color_s").val().replace(/ /g,"").split('.');
            def = $(def).filter(color);
        }
        if($(".genero_s").length > 0 ) {
            genero = $(".genero_s").val().replace(/ /g,"").split('.');
            def = $(def).filter(genero);
        }
        console.log(talla,color,genero,def);
        var id = def.filter(v => v != "");
        console.log("id",id[0]);
        $("#product_id").val(id[0]);
    }

</script>
{% endblock %}