{% extends 'base.html.twig' %}

{% block body %}
    {{ include('global/header-log.html.twig') }}
    <section class="banner text-center d-flex justify-content-md-center pb-footer pt-header">
        <div class="s-wp w-50">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register w-100 border-brown-3 py-2 px-3 py-md-4 px-md-5 text-center'}}) }}

            <div class="form-group text-center">
                <a href="{{ path('homepage') }}"><img class="logo w-50" src="{{ asset('images/logo-h.png') }}"/></a>
                <br>
                <img class="titulo" src="{{ asset('images/suscribete.png') }}"/>
            </div>

            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="form-group">
                <label>Valor Suscripción 12.000 COP / 3 USD Mensual</label>
            </div>

            <div class="d-md-flex">
                <div class="form-group w-50 pr-md-3">
                    {{ form_row(form.nombre) }}
                </div>
                <div class="form-group w-50 pl-md-3">
                    {{ form_row(form.apellido) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="d-md-flex">
                <div class="form-group w-50 pr-md-3">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="form-group w-50 pl-md-3">
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>
            {#<div class="form-group">
                {{ form_row(form.terminos) }}
            </div>#}
            <div class="form-group">
                <div class="form-check d-flex justify-content-start align-items-center ">
                    <input type="checkbox" id="" name="" required="required" class="form-check-input mr-1 mr-md-2" value="1"/>
                    <label class="form-check-label p-0  mr-1 mr-md-2 small" for="">Acepto</label>
                    <a href="{{ path('terminos') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_terminos_condiciones') }}</a>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check d-flex justify-content-start align-items-lg-center small">
                    <input type="checkbox" id="" name="" required="required" class="form-check-input mr-1 mr-md-2" value="1"/>
                    <label class="form-check-label p-0 required mr-1 mr-md-2 small" for="">Acepto</label>
                    <p class="m-0"><small><a href="{{ asset('documents/POLITICA_DE _TRATAMIENTO_DE_DATOS_PERSONALES.pdf') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_politicas') }}</a> y
                    <a href="{{ asset('documents/AUTORIZACIÓN_DE_TRATAMIENTO_DE_DATOS_PERSONALES.pdf') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_autorizacion_datos') }}</a></small></p>
                </div>
            </div>
            <div class="form-group">
                <input class="bt-1" type="submit" value="Suscribirme">
            </div>
            <div class="form-group">
                <div class="form-check d-flex justify-content-start align-items-lg-center">
                    <p class="techo">{{ qi.textoBig('texto_inferior_suscribirme') }}</p>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#fos_user_registration_form_email').change(function () {
                $('#fos_user_registration_form_username').val($('#fos_user_registration_form_email').val());
            });
        })
    </script>
{% endblock %}

