@import "mixins.scss";
@import "vars.scss";
@import "icon.scss";
@import "fonts.scss";
@import "keyframes.scss";
html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}
*, *::before, *::after{
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

}
.mob, .tab{
   display: none;
}
:focus {
  outline: none;
}
.landing{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: cover;
  position: relative;
  .cont {
    width: 42vw;
    position: absolute;
    right: 12vw;
    top: 50%;
    transform: translateY(-50%);
    .texts{
      background-color: #101820;
      img{
        width: 50px;
        margin-bottom: 2vh;

      }
      text-align: center;
      padding: 6vh 5%;
      h1{
        color: white;
        font-family: "Bauer Bodoni Std 1";
        font-size: 3vw;
      }
      h2{
        font-family: "Bauer Bodoni Std 1";
        font-style: italic;
        font-weight: lighter;
        color: #FFFFFF;
        font-size: 1.5vw;
        margin-top: 2vh;
      }
    }
    h3{
      text-align: center;
      color: black;
      font-family: "Bauer Bodoni Std 1";
      font-size: 1.5vw;
      margin: 2vh 0;
      span{
        font-size: 3vw;
        //font-weight: bold;
      }
    }
    .formulario{
      width: 65%;
      margin: auto;
      align-items: stretch;
      display: flex;
      input{
        height: 100%;
        background-color: transparent;
        color: black;
        flex-grow: 1;
        margin-right: 5px;
        font-family: Avenir;
        font-size: 1vw;
        padding: 10px 5px;
        border: 1px solid $gray1;
      }
      button{
        border: 0;
        background-color: #fff;
        font-family: Avenir;
        font-size: .8vw;
        border-radius: 5px;
        padding: 10px 20px;
      }
    }
    .logo{
      width: 40%;
      display: block;
      margin: 4vh auto 0;
    }
  }
}
.redes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 30px;

  a{
    width: 25px;
    margin: 20px 10px 0;
    img{
      width: 100%;
    }
  }
}
.swal2-image{
  width: 68px !important;
}
.swal2-title {
  font-family: "Bauer Bodoni Std 1";
  font-style: italic;
  font-weight: lighter !important;
  color: black !important;
  font-size: 2.8rem !important;

}
.swal2-content{
  font-family: Avenir;
  color: black;
}
.swal2-modal{
  border: 22px solid #E6E7E8 !important;
}
.swal2-confirm{
  font-family: Avenir;
  border-radius: 0 !important;

}
@import "breakpoints.scss";
