@import "mixins.scss";

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 769px) {

  .landing{
    background-color: #FFD900;
    background-image: none !important;
    flex-direction: column;
    overflow: hidden;
    .cont{
      .texts{
        padding: 2vh 5%;
      }
    }
     .cont{
       position: initial;
       text-align: center;
       transform: none;
       width: 100vw;
       padding: 5vw;
       .texts{
         width: max-content;
         margin: auto;
         h1{
           font-size: 6vw;
           margin-bottom: 1vh;
         }
         h2{
           font-size: 4vw;
           margin:0;
         }
         img{
           width: 35px;
           margin-bottom: 1vh;
         }
       }
       h3{
         span{
           font-size: 6vw;
           font-weight: bold;
         }
         font-size: 3.5vw;
       }
       .formulario{
         width: 100%;
         input{
           font-size: 3vw;
         }
         button{
           font-size: 3vw;
         }
       }
       .redes{
         position: absolute;
         bottom: 6%;
         display: flex;
         left: 90%;
         transform: translateX(-50%);
         justify-content: center;
         flex-direction: column;
         a{
           margin: 6px 0;
           img{
             //filter: invert(82%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(101%) contrast(87%);;
           }
         }
       }
       .logo{
         width: 70%;
         display: block;
         margin: 4vh auto 0;
       }
     }
    .tab{
      display: block;
      width: 100%;
      flex-grow: 1;
      //height: 50vh;
      object-fit: contain;
      object-position: left top;
    }
  }

}


/* Only Small devices (phones, 576px) */
@media (max-width: 576px) {
  .landing{
    .tab{
      //display: none;
      object-fit: cover;
    }
    .mob{
      //display: block;
      object-fit: cover;
      width: 100%;
    }
  }
  .redes{
    a{
      width: 25px;
    }
  }
}