@font-face {
  font-family: 'icomoon';
  src:  url('../icon/icomoon.eot?u5c68u');
  src:  url('../icon/icomoon.eot?u5c68u#iefix') format('embedded-opentype'),
  url('../icon/icomoon.ttf?u5c68u') format('truetype'),
  url('../icon/icomoon.woff?u5c68u') format('woff'),
  url('../icon/icomoon.svg?u5c68u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-admiration:before {
  content: "\e901";
}
.icon-admiration-c:before {
  content: "\e902";
}
.icon-car:before {
  content: "\e903";
}
.icon-car-add:before {
  content: "\e904";
}
.icon-card:before {
  content: "\e905";
}
.icon-certificate:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-check-c:before {
  content: "\e908";
}
.icon-direction:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-face-fill:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-i:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-instagram-fill:before {
  content: "\e90f";
}
.icon-movie:before {
  content: "\e910";
}
.icon-news:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-play-fill:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-table-check:before {
  content: "\e915";
}
.icon-trash:before {
  content: "\e916";
}
.icon-whatsapp:before {
  content: "\e917";
}
.icon-whatsapp-fill:before {
  content: "\e918";
}
.icon-youtube:before {
  content: "\e919";
}
.icon-youtube-fill:before {
  content: "\e91a";
}
