{% extends 'base.html.twig' %}

{% block body %}
    <div class="landing" style="background-image: url('{{ asset('images/bg.png') }}');">
        <div class="cont">
            <div class="texts">
                <img src="{{ 'images/mono.png' }}" alt="">
                <h1>
                    INTRODUCING<br>
                    A NEW BRAND<br>
                    FOR MEN
                </h1>
                <h2>-Coming Soon-</h2>
            </div>
            <h3>
                <span>
                    JOIN THE LIST
                </span><br>
                FOR LAUNCH NOTIFICATIONS AND PROMOTIONS
            </h3>
            {{ form_start(form, {attr: {"class": "formulario"}}) }}
            {#        <form action="" class="formulario">#}
            {{ form_widget(form.email, {attr: {"placeholder":"Email"}}) }}
            <button>SUBMIT</button>
            {#        </form>#}
            {{ form_end(form) }}
            <img src="{{ asset('images/logo.png') }}" alt="" class="logo">
            <div class="redes">
                <a href="https://www.facebook.com/Cleverman-NYC-100865958018199/?modal=admin_todo_tour" target="_blank">
                    <img src="{{ asset('images/fb.png') }}" alt="">
                </a>
                <a href="https://www.instagram.com/clevermannyc/" target="_blank">
                    <img src="{{ asset('images/ig.png') }}" alt="">
                </a>
            </div>
    </div>

    <img src="{{ 'images/bg4.jpg' }}" alt="" class="mob">
    <img src="{{ 'images/bg4.jpg' }}" alt="" class="tab">
</div>



{% endblock %}
{% block javascripts %}
    <script>
        {% if registeredEmail %}
        (function () {
            Swal.fire({
                title: 'Clever, man!',
                text:  '{{registeredEmail}} has been registered \n for launch notification',
                imageUrl:'images/mono.png',
                confirmButtonText: 'OK',
                imageSize: '68x68',
                background: '#C3C1C1',
                confirmButtonColor: '#000000',
                width: 380

            }

            )
        })();
        {% endif %}
    </script>
{% endblock %}

