<table style="width: 600px; max-width: 100%; background-color: #0A1723; border: 4px solid #E5B464; margin: 0 auto;">
    <tr>
        <th style="text-align: center; padding: 2rem 2rem 0 2rem;" colspan="2">
            <a href="http://thejpchannel.com/" target="_blank" style="display: inline-block; vertical-align: top;"><img style="width: 150px;display: inline-block; vertical-align: top;" src="{{ asset('images/logo-h.png') }}"/></a><br>
            <h2 style="display: inline-block; vertical-align: top; color: #E5B464; font-size: 1.5rem; font-family:Courier New, Georgia, Times, Times New Roman;">El canal más top de Colombia</h2>
        </th>
    </tr>
    <tr>
        <td style="padding: 0 2rem; text-align: center" colspan="2">
            <p style="display: inline-block; vertical-align: top; color: white; line-height: 1.8rem; font-size: 1rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                Wuon, felicitaciones por haberte suscrito al canal más top de Internet. Pagando haces que mi empresa pueda seguir siendo play, ayudas a los pobres que necesitan techo y comida; y lo más importante: dejas de ser de esos mantecos que lo quieren todo gratis.
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center" colspan="2">
            <h3 style="display: inline-block; vertical-align: top; color: #E5B464; font-size: 1.3rem; font-family: Verdana, Geneva, Tahoma, sans-serif;"><strong>{{ qi.texto('cheers_mk') }}</strong></h3>
        </td>
    </tr>
    <tr>
        <td style="padding: 2rem 0.5rem 2rem 2rem;">
            <a style="display: inline-block; vertical-align: top;" href="https://www.techo.org/colombia/?gclid=EAIaIQobChMI4vu_1-276AIV8IFaBR3RdQFcEAAYASAAEgLl-fD_BwE" target="_blank"><img width="100" src="{{ asset('images/logo_techo.jpg') }}"/></a>
        </td>
        <td style="padding: 2rem 2rem 2rem 0.5rem;">
            <p style="display: inline-block; vertical-align: top; color: white; line-height: 1.5rem; font-size: 1rem; font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;">"Gracias a tu aporte hemos logrado entregar un kit de alimentación más a una familia que se ve afectada por esta situación de emergencia."</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 2rem; text-align: center;" colspan="2">
            <a style="display: inline-block; vertical-align: top; font-size: 1.3rem; font-family: Verdana, Geneva, Tahoma, sans-serif; vertical-align: top; color: #E5B464;" href="http://thejpchannel.com/" target="_blank">thejpchannel.com/</a>
        </td>
    </tr>
</table>

/*old*/

<table style="width: 600px; max-width: 100%; background-color: #0A1723; border: 4px solid #E5B464; margin: 0 auto;">
    <tbody>
    <tr>
        <th colspan="2" style="text-align: center; padding: 2rem 2rem 0 2rem;"><a href="http://thejpchannel.com/" style="display: inline-block; vertical-align: top;" target="_blank"><img src="https://test.thejpchannel.com/images/logo-h.png" style="width: 150px;display: inline-block; vertical-align: top;" /></a>
            <h2 style="display: inline-block; vertical-align: top; color: #E5B464; font-size: 1.5rem; font-family:Courier New, Georgia, Times, Times New Roman;">El canal m&aacute;s top de Colombia</h2>
        </th>
    </tr>
    <tr>
        <td colspan="2" style="padding: 0 2rem; text-align: center">
            <p style="display: inline-block; vertical-align: top; color: white; line-height: 1.8rem; font-size: 1rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Wuon, felicitaciones por haberte suscrito al canal m&aacute;s top de Internet. Pagando haces que mi empresa pueda seguir siendo play, ayudas a los pobres que necesitan techo y comida; y lo m&aacute;s importante: dejas de ser de esos mantecos que lo quieren todo gratis.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <h3 style="display: inline-block; vertical-align: top; color: #E5B464; font-size: 1.3rem; font-family: Verdana, Geneva, Tahoma, sans-serif;"><strong>&iexcl;Cheers, mk! Welcome to my world...</strong></h3>
        </td>
    </tr>
    <tr>
        <td style="padding: 2rem 0.5rem 2rem 2rem;"><a href="https://www.techo.org/colombia/?gclid=EAIaIQobChMI4vu_1-276AIV8IFaBR3RdQFcEAAYASAAEgLl-fD_BwE" style="display: inline-block; vertical-align: top;" target="_blank"><img src="https://test.thejpchannel.com/images/logo_techo.jpg" width="100" /></a></td>
        <td style="padding: 2rem 2rem 2rem 0.5rem;">
            <p style="display: inline-block; vertical-align: top; color: white; line-height: 1.5rem; font-size: 1rem; font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;">&quot;Gracias a tu aporte hemos logrado entregar un kit de alimentaci&oacute;n m&aacute;s a una familia que se ve afectada por esta situaci&oacute;n de emergencia.&quot;</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 2rem; text-align: center;"><a href="http://thejpchannel.com/" style="display: inline-block; vertical-align: top; font-size: 1.3rem; font-family: Verdana, Geneva, Tahoma, sans-serif; vertical-align: top; color: #E5B464;" target="_blank">thejpchannel.com/</a></td>
    </tr>
    </tbody>
</table>



<table style="width: 600px; max-width: 100%; background-color: #0A1723; border: 4px solid #E5B464; margin: 0 auto;">
    <tbody>
    <tr>
        <th colspan="2" style="text-align: center; padding: 2rem 2rem 0 2rem;">
            <a href="http://thejpchannel.com/" style="display: inline-block; vertical-align: top;" target="_blank">
                <img src="https://test.thejpchannel.com/images/logo-h.png" style="width: 100px;display: inline-block; vertical-align: top;" />
            </a><br>
            <h2 style="display: inline-block; vertical-align: top; color: #E5B464; font-size: 1.5rem; font-family:Courier New, Georgia, Times, Times New Roman;">El canal m&aacute;s top de Colombia</h2>
        </th>
    </tr>
    <tr>
        <td colspan="2" style="padding: 0 2rem; text-align: center">
            <p style="display: inline-block; vertical-align: top; color: white; line-height: 1.8rem; font-size: 1rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Wuon, felicitaciones por haberte suscrito al canal m&aacute;s top de Internet. Pagando haces que mi empresa pueda seguir siendo play, ayudas a los pobres que necesitan techo y comida; y lo m&aacute;s importante: dejas de ser de esos mantecos que lo quieren todo gratis.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <h3 style="display: inline-block; vertical-align: top; color: #E5B464; font-size: 1.3rem; font-family: Verdana, Geneva, Tahoma, sans-serif;"><strong>&iexcl;Cheers, mk! Welcome to my world...</strong></h3>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <img style="display: inline-block; vertical-align: top; width: 150px;" src="{{ asset('images/logo_techo.jpg') }}">
        </td>
    </tr>
    <tr>
        <td style="padding: 2rem; text-align: center;">
            <p style="display: inline-block; vertical-align: top; color: white; line-height: 1.5rem; font-size: 1rem; font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;">&quot;Gracias a tu aporte hemos logrado entregar un kit de alimentaci&oacute;n m&aacute;s a una familia que se ve afectada por esta situaci&oacute;n de emergencia.&quot;</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 2rem 0;">
            <img style="display: inline-block; vertical-align:top;" width="400" src="{{ asset('images/gracias.png') }}"/>
        </td>
    </tr>
    <tr>
        <td style="padding: 1rem 2rem; background-color: white; text-align: center;">
            <!--<a style="margin: 0 5px; display: inline-block; vertical-align: middle;" href="https://www.techo.org/colombia/?gclid=EAIaIQobChMI4vu_1-276AIV8IFaBR3RdQFcEAAYASAAEgLl-fD_BwE" target="_blank"><img src="https://test.thejpchannel.com/images/logo-techo.png" width="150" /></a>-->
            <a style="margin: 0 10px; display: inline-block; vertical-align: middle;" href="https://www.techo.org/colombia/?gclid=EAIaIQobChMI4vu_1-276AIV8IFaBR3RdQFcEAAYASAAEgLl-fD_BwE" target="_blank"><img src="https://test.thejpchannel.com/images/logo-techo.png" width="150" /></a>
            <a style="margin: 0 10px; display: inline-block; vertical-align: middle;" target="_blank"><img width="150" src="https://test.thejpchannel.com/images/riano-producciones.jpg"/></a>
            <a style="margin: 0 10px; display: inline-block; vertical-align: middle;" href="http://iridian.co/" target="_blank"><img width="120" src="https://test.thejpchannel.com/images/iridian-color.png"></a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 2rem; text-align: center;"><a href="http://thejpchannel.com" style="display: inline-block; vertical-align: top; font-size: 1.3rem; font-family: Verdana, Geneva, Tahoma, sans-serif; vertical-align: top; color: #E5B464;" target="_blank">thejpchannel.com/</a></td>
    </tr>
    </tbody>
</table>
