{% extends 'base.html.twig' %}

{% block body %}
    {{ include('global/header-user.html.twig') }}
    <section class="banner text-center d-flex justify-content-md-center pb-footer pt-header">
        <div class="border-brown-3 p-4 terminos-condiciones">
            <h2>{{ qi.texto('titulo_terminos_condiciones') }}</h2>
            <div>
                {{ qi.textoBig('terminos_condiciones')|raw }}
            </div>
        </div>

    </section>

{% endblock %}
{% block javascripts %}

{% endblock %}

