{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-4">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><span>The Wharton Basin</span></a></li>
            <li><a href="{{ path(ruta) }}"><i class="fas fa-chevron-right"></i><span>{{ titulo }}</span></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-8 offset-2">
                <div class="py-5">
                    <div class="title-d">

                        <h2 class="px-3">{{ titulo }}</h2>
                    </div>
                </div>
                <div>
                    {{ descripcion  | raw }}
                </div>
                <div class="d-flex justify-content-between align-content-center my-lg-5">
                   <a class="btn w-50" href="{{ path('homepage') }}">VOLVER</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}